
@{
    ViewBag.Title = "Amar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:7%">
    <table>
        <thead></thead>
        <tbody>
            <tr>
                <td style="font-size: 120%;font-weight: bold;">Name </td>
                <td> : Dr.Amar</td>
            </tr>
            <tr>
                <td style="font-size: 120%;font-weight: bold;">Email Id </td>
                <td> : Amar@gmail.com</td>
            </tr>
            <tr>
                <td style="font-size: 120%;font-weight: bold;">Phone No </td>
                <td> : 1327984658</td>
            </tr>
            <tr>
                <td style="font-size: 120%;font-weight: bold;">Technologies </td>
                <td> : SQL Server </td>
            </tr>
            <tr>
                <td style="font-size: 120%;font-weight: bold;">Experience </td>
                <td> : 1 Year</td>
            </tr>
        </tbody>
    </table>
</div>

