
@{
    ViewBag.Title = "Guru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:7%">
    <table>
        <thead></thead>
        <tbody>
            <tr>
                <td style="font-size: 120%;font-weight: bold;">Name </td>
                <td> : Dr.Guru</td>
            </tr>
            <tr>
                <td style="font-size: 120%;font-weight: bold;">Email Id </td>
                <td> : GuruBhaskar@gmail.com</td>
            </tr>
            <tr>
                <td style="font-size: 120%;font-weight: bold;">Phone No </td>
                <td> : 9876543219</td>
            </tr>
        </tbody>
    </table>
</div>


