
@{
    ViewBag.Title = "Srihari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table > tbody > tr > td {
        padding: 10px;
    }
</style>


<div class="row col-sm-12" style="margin-top:7%">
    <div class="col-sm-4">
        <img src="~/Images/imgDoctor3.jpg" style="width:220px;height:350px;border-radius: 209px;" />
    </div>
    <div class="col-sm-8" style="margin-top: 1%;">
        <table>
            <thead></thead>
            <tbody>
                <tr>
                    <td style="font-size: 120%;font-weight: 500;">Name </td>
                    <td> : Dr.SriHari</td>
                </tr>
                <tr>
                    <td style="font-size: 120%;font-weight: 500;">Email Id </td>
                    <td> : Srihari@gmail.com</td>
                </tr>
                <tr>
                    <td style="font-size: 120%;font-weight: 500;">Phone No </td>
                    <td> : 9876543465</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




