
@{
    ViewBag.Title = "Sumanth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:7%">
    <table>
        <thead></thead>
        <tbody>
            <tr>
                <td style="font-size: 120%;font-weight: bold;">Name </td>
                <td> : Dr.Sumanth</td>
            </tr>
            <tr>
                <td style="font-size: 120%;font-weight: bold;">Email Id </td>
                <td> : Gurusumanth@gmail.com</td>
            </tr>
            <tr>
                <td style="font-size: 120%;font-weight: bold;">Phone No </td>
                <td> : 8019633239</td>
            </tr>
            <tr>
                <td style="font-size: 120%;font-weight: bold;">Technologies </td>
                <td> : C# MVC,HTML </td>
            </tr>
            <tr>
                <td style="font-size: 120%;font-weight: bold;">Experience </td>
                <td> : 1 Year</td>
            </tr>
        </tbody>
    </table>
</div>

